<!DOCTYPE html>

<html lang="fa-IR" class="light">
<!-- BEGIN: Head -->
<head>
    <meta charset="utf-8">
    <link href="src/images/logo.svg" rel="shortcut icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="همکلاسیا پلتفرم جامع کلاس">
    <meta name="keywords"
          content="همکلاسیا">
    <meta name="author" content="Mim">
    <title>همکلاسیا | ورود به حساب کاربری</title>
    <!-- BEGIN: CSS Assets-->
    <link rel="stylesheet" href="src/css/app.css"/>
    <link rel="stylesheet" href="src/css/style.css"/>
    <!-- END: CSS Assets-->
</head>
<!-- END: Head -->
<body class="login">
<div class="container sm:px-10">
    <div class="block xl:grid grid-cols-2 gap-4">
        <!-- BEGIN: Login Info -->
        <div class="hidden xl:flex flex-col min-h-screen">
            <div class="my-auto">
                <img alt="Icewall Tailwind HTML Admin Template" class="-intro-x w-1/2 -mt-16"
                     src="src/images/illustration.svg">
                <div class="-intro-x text-white font-medium text-4xl leading-tight mt-10 rtl text-left">
                    هر آنچه میخواید بیاموزید
                    <br>
                    از همکلاسیا بخواهید...
                </div>
                <div class="-intro-x mt-5 text-lg text-white text-opacity-70 dark:text-gray-500 rtl text-left">
                    سیستم جامع مدیریت آموزش
                </div>
            </div>
        </div>
        <!-- END: Login Info -->
        <!-- BEGIN: Login Form -->
        <div class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0 rtl">
            <div class="my-auto mx-auto xl:ml-20 bg-white dark:bg-dark-1 xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto">
                <h2 class="intro-x font-bold text-2xl xl:text-3xl text-center xl:text-right">
                    ورود به حساب کاربری
                </h2>
                <div class="intro-x mt-2 text-gray-500 xl:hidden text-center">
                    وارد حساب کاربری خود شده و از امکانات همکلاسیا استفاده کنید...
                </div>
                <div class="intro-x mt-8">
                    <input type="text" class="intro-x login__input form-control py-3 px-4 border-gray-300 block"
                           placeholder="Email">
                    <input type="password"
                           class="intro-x login__input form-control py-3 px-4 border-gray-300 block mt-4"
                           placeholder="Password">
                </div>
                <div class="intro-x flex text-gray-700 dark:text-gray-600 text-xs sm:text-sm mt-4">
                    <div class="flex items-center ml-auto">
                        <input id="remember-me" type="checkbox" class="form-check-input border ml-2">
                        <label class="cursor-pointer select-none" for="remember-me">مرا بخاطر بسپار</label>
                    </div>
                    <a href="">رمزعبور خود را فراموش کردید؟</a>
                </div>
                <div class="intro-x mt-5 xl:mt-8 text-center xl:text-right">
                    <button class="btn btn-primary py-3 px-4 w-full xl:w-32 xl:mr-3 align-top">ورود</button>
                    <button class="btn btn-outline-secondary py-3 px-4 w-full xl:w-32 mt-3 xl:mt-0 align-top">
                        ثبت نام
                    </button>
                </div>
                <div class="intro-x mt-10 xl:mt-24 text-gray-700 dark:text-gray-600 text-center xl:text-right">
                    By signin up, you agree to our
                    <br>
                    <a class="text-theme-17 dark:text-gray-300" href="">Terms and Conditions</a> & <a
                        class="text-theme-17 dark:text-gray-300" href="">Privacy Policy</a>
                </div>
            </div>
        </div>
        <!-- END: Login Form -->
    </div>
</div>
<!-- BEGIN: Dark Mode Switcher-->
<div data-url="login-dark-login.html"
     class="dark-mode-switcher cursor-pointer shadow-md fixed bottom-0 right-0 box dark:bg-dark-2 border rounded-full w-40 h-12 flex items-center justify-center z-50 mb-10 mr-10">
    <div class="mr-4 text-gray-700 dark:text-gray-300">Dark Mode</div>
    <div class="dark-mode-switcher__toggle border"></div>
</div>
<!-- END: Dark Mode Switcher-->
<!-- BEGIN: JS Assets-->
<script src="src/js/app.js"></script>
<!-- END: JS Assets-->
</body>
</html>