@font-face {
  font-family: Vazir;
  src: url('src/fonts/Vazir/Vazir-Regular-WOL.eot');
  src: url('src/fonts/Vazir/Vazir-Regular-WOL.eot?#iefix') format('embedded-opentype'),
  url('src/fonts/Vazir/Vazir-Regular-WOL.woff2') format('woff2'),
  url('src/fonts/Vazir/Vazir-Regular-WOL.woff') format('woff'),
  url('src/fonts/Vazir/Vazir-Regular-WOL.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url('src/fonts/Vazir/Vazir-Bold-WOL.eot');
  src: url('src/fonts/Vazir/Vazir-Bold-WOL.eot?#iefix') format('embedded-opentype'),
  url('src/fonts/Vazir/Vazir-Bold-WOL.woff2') format('woff2'),
  url('src/fonts/Vazir/Vazir-Bold-WOL.woff') format('woff'),
  url('src/fonts/Vazir/Vazir-Bold-WOL.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url('src/fonts/Vazir/Vazir-Black-WOL.eot');
  src: url('src/fonts/Vazir/Vazir-Black-WOL.eot?#iefix') format('embedded-opentype'),
  url('src/fonts/Vazir/Vazir-Black-WOL.woff2') format('woff2'),
  url('src/fonts/Vazir/Vazir-Black-WOL.woff') format('woff'),
  url('src/fonts/Vazir/Vazir-Black-WOL.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url('src/fonts/Vazir/Vazir-Medium-WOL.eot');
  src: url('src/fonts/Vazir/Vazir-Medium-WOL.eot?#iefix') format('embedded-opentype'),
  url('src/fonts/Vazir/Vazir-Medium-WOL.woff2') format('woff2'),
  url('src/fonts/Vazir/Vazir-Medium-WOL.woff') format('woff'),
  url('src/fonts/Vazir/Vazir-Medium-WOL.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url('src/fonts/Vazir/Vazir-Light-WOL.eot');
  src: url('src/fonts/Vazir/Vazir-Light-WOL.eot?#iefix') format('embedded-opentype'),
  url('src/fonts/Vazir/Vazir-Light-WOL.woff2') format('woff2'),
  url('src/fonts/Vazir/Vazir-Light-WOL.woff') format('woff'),
  url('src/fonts/Vazir/Vazir-Light-WOL.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url('src/fonts/Vazir/Vazir-Thin-WOL.eot');
  src: url('src/fonts/Vazir/Vazir-Thin-WOL.eot?#iefix') format('embedded-opentype'),
  url('src/fonts/Vazir/Vazir-Thin-WOL.woff2') format('woff2'),
  url('src/fonts/Vazir/Vazir-Thin-WOL.woff') format('woff'),
  url('src/fonts/Vazir/Vazir-Thin-WOL.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}